---
import Footer from "../components/brutal/Footer.astro";
import Gallery from "../components/brutal/Gallery.astro";
import Hero from "../components/brutal/Hero.astro";
import SocialCalendar from "../components/brutal/SocialCalendar.astro";
import WhatWeDo from "../components/brutal/WhatWeDo.astro";

import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex flex-col gap-24 min-h-screen font-dmsans">
    <Hero />
    <WhatWeDo />
    <SocialCalendar />
    <Gallery />
    <Footer />
  </div>
</Layout>

<style>
  body {
    background: linear-gradient(90deg, #80808033 1px, #0000 0),
      linear-gradient(#80808033 1px, #0000 0);
    background-size: 70px 70px;
    background-color: var(--background);
  }
  .font-dmsans {
    font-family: var(--font-dmsans);
  }
</style>
