<section class="m-auto w-full lg:w-auto" id="social-calendar">
  <h1
    class="text-cream-100 font-bold text-5xl lg:text-7xl text-balance -rotate-[2.5deg] mb-8 z-10 text-center"
  >
    Social Calendar
  </h1>
  <div class="w-full lg:w-[60rem] lg:p-8 bg-darb-800 rounded-2xl">
    <iframe
      class="rounded-2xl"
      title="calendar"
      src="https://calendar.google.com/calendar/embed?src=dabneysocveeps%40gmail.com&ctz=America%2FLos_Angeles"
      style="border: 0px;"
      width="100%"
      height="600"
      frameborder="0"
      scrolling="no"></iframe>
  </div>
</section>
