<footer class="flex flex-col" id="other-links">
  <img
    src="/src/assets/curve.svg"
    class="translate-y-0.5 pointer-events-none"
    alt=""
  />
  <div class="bg-darb-900 p-16 pt-0 flex justify-between">
    <div class="-rotate-[1.5deg]">
      <h2 class="text-cream-100 font-bold text-5xl mb-3">Dabney House</h2>
      <h3 class="leading-tight">1313 E California Blvd</h3>
      <h3 class="leading-tight">contact@dabney.caltech.edu</h3>
    </div>
    <div
      class="grid grid-cols-2 gap-x-8 [&_a]:text-darb-400 [&_a]:underline [&_a]:decoration-2"
    >
      <div><a href="">wiki</a></div>
      <div><a href="">wiki</a></div>
      <div><a href="">wiki</a></div>
      <div><a href="">wiki</a></div>
      <div><a href="">wiki</a></div>
      <div><a href="">wiki</a></div>
    </div>
  </div>
</footer>
