---
import { Image } from "astro:assets";
import crest from "../assets/crest.svg";
import tpose from "../assets/gallery/t_pose.jpg";
---

<section
  class="lg:grid gap-16 lg:grid-cols-2 lg:gap-0 lg:h-screen"
>
  <div class="h-[75vh] lg:h-screen grid justify-center items-center">
    <div
      class="h-0 min-h-full m-auto pointer-events-none col-start-1 row-start-1 grid justify-center items-center"
    >
      <Image src={crest} alt="dabney crest" class="h-1/2 lg:h-7/8" />
    </div>
    <div
      class="flex flex-col justify-center px-4 lg:px-20 col-start-1 row-start-1 max-w-[65ch] lg:max-w-none"
    >
      <h1
        class="text-cream-100 font-bold text-5xl lg:text-7xl text-balance -rotate-[2deg] mb-8 z-10"
      >
        Welcome To Dabney Hovse
      </h1>
      <p class="z-10 mb-4">
        Surviving Caltech isn't always easy. Sometimes you just need to take
        some time out of your your day to have a good laugh.
      </p>
      <p class="lg:text-lg z-10 mb-8">
        Our current motto is:
        <span
          class="bg-cream-100 text-cream-100 rotate-[1.5deg] inline-block ml-1 leading-tight"
        >
          made you look
        </span>
      </p>
      <div class="grid lg:grid-cols-3 gap-4 text-lg">
        <a href="#social-calendar">
          <button
            class="bg-darb-900 px-3 py-2 rounded-full w-full hover:bg-darb-800 transition hover:cursor-pointer"
          >
            Social Calendar
          </button>
        </a>
        <a href="#gallery">
          <button
            class="bg-darb-900 px-3 py-2 rounded-full w-full hover:bg-darb-800 transition hover:cursor-pointer"
          >
            Gallery
          </button>
        </a>
        <a href="#other-links">
          <button
            class="bg-darb-900 px-3 py-2 rounded-full w-full hover:bg-darb-800 transition hover:cursor-pointer"
          >
            Other Links
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="lg:h-screen w-full flex items-center justify-center">
    <Image
      src={tpose}
      class="h-3/4 lg:h-7/8 w-11/12 object-cover rounded-2xl rotate-[1.5deg]"
      alt="a group of darbs t-posing"
    />
  </div>
</section>
